#Paolo {
    #p{
        display: none; 
    }
    #a{
        display: none; 
    }
    #o-1{
        display: none; 
    }
    #l{
        display: none; 
    }
    #o-2{
        display: none; 
    }

}
