.works-component {
    .projects-preview {
        .project-overlay{
            backdrop-filter: blur(2px) brightness(15%) contrast(70%);
            background: rgba(0,0,0,0.6);
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            width: 100%;  
            z-index: 2;
            // opacity: 0;
            transition: opacity 250ms linear;
        }
        &:hover .project-overlay {
            opacity: 1;
        }
    }
}