.project-grid-item {
    position: relative;
    .description {
        transition: opacity 300ms linear;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        z-index: 1;
        backdrop-filter: blur(4px) brightness(25%) contrast(75%);
    }

    .cover-image{
        position: absolute; 
        top: 0; 
        left:0; 
        height: 100%;
        width: 100%;
        filter: brightness(95%);
    }

    &:hover .description {
        opacity: 1;
    }
}