.project-grid-item {
    position: relative;
    overflow: hidden;

    .project-item-overlay-container{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px) brightness(20%) contrast(75%);
        z-index: 2;
        opacity:1; //to zero later
        transition: opacity 300ms linear;
        .grid-container {
            width: 100%;
            height: 100%;
            
        }
    }

    .cover-image{
        position: absolute; 
        top: 0; 
        left:0; 
        height: 100%;
        width: 100%;
        filter: brightness(95%);
        z-index: 1;
    }

    &:hover .project-item-overlay-container {
        opacity: 1;
    }
}